html, body { height: 100% }

#welcome-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

#welcome-child {
    display: flex;
    flex-direction: column;
    width:100%;
    justify-content: center;
    text-align: center;
}

#welcome-child > * {
    align-items: center;
}

.card-body div h2, .card-body div h3, .card-body div h4 {
    font-size: large;
}

.card-body h1 {
    font-size: x-large;
}


.card{
    margin-bottom: 3rem;
}

#user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#user-info * {
    align-items: center;
}

input::placeholder {
    text-align: center;
}

input {
    text-align: center;
}

#keyword {
    text-align:left;
}

.card-title-container{
    position: relative;
}

.collapsible {
    cursor: pointer;
}

.collapsible:after {
content: '\02795'; /* Unicode character for "plus" sign (+) */
font-size: 13px;
color: white;
position: absolute;
right: 0%;
top:40%;
margin-left: 5px;
}

.active:after {
content: "\2796"; /* Unicode character for "minus" sign (-) */
}